# Import modules/ libraries

In [125]:
import os
import sys
import pandas as pd
import numpy as np
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
from IPython.display import Image, Markdown
import seaborn as sns
plt.style.use('seaborn')
from fuzzywuzzy import process
import difflib
from __future__ import print_function, division
import datetime
from datetime import datetime as dt
from scipy.ndimage.filters import generic_filter
import pickle
from __future__ import print_function, division
import patsy
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn import datasets, linear_model, metrics
from sklearn.cross_validation import cross_val_score, cross_val_predict
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Ridge, Lasso, RidgeCV, LinearRegression
from sklearn.naive_bayes import GaussianNB
import math



%matplotlib inline

# Import all data

In [126]:
with open('final_df_pg1.pkl', 'rb') as picklefile: 
    product_listing_page1 = pickle.load(picklefile)
    
with open('final_df_pg2.pkl', 'rb') as picklefile: 
    product_listing_page2 = pickle.load(picklefile)
    
with open('final_df_pg3.pkl', 'rb') as picklefile: 
    product_listing_page3 = pickle.load(picklefile)
    
with open('final_df_pg4.pkl', 'rb') as picklefile: 
    product_listing_page4 = pickle.load(picklefile)

with open('final_df_pg5.pkl', 'rb') as picklefile: 
    product_listing_page5 = pickle.load(picklefile)
    
with open('final_df_pg6.pkl', 'rb') as picklefile: 
    product_listing_page6 = pickle.load(picklefile)

with open('final_df_pg7.pkl', 'rb') as picklefile: 
    product_listing_page7 = pickle.load(picklefile)
    
with open('final_df_pg8.pkl', 'rb') as picklefile: 
    product_listing_page8 = pickle.load(picklefile)

In [127]:
# Validate that their pandas dataframe type is retained
type(product_listing_page1)

pandas.core.frame.DataFrame

In [128]:
# pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
#           keys=None, levels=None, names=None, verify_integrity=False,
#           copy=True)

all_product_listings = pd.concat([product_listing_page1, product_listing_page2, product_listing_page3, product_listing_page4, 
          product_listing_page5, product_listing_page6, product_listing_page7, product_listing_page8], axis = 0,)

# Check the imported data

In [129]:
# Realized that I accidentally used a space between 'list' and 'date. Going to fix that now
all_product_listings.rename(index=str, columns={"list date": "list_date"}, inplace=True)
all_product_listings.columns

Index(['asin', 'item_description', 'num_cust_reviews', 'prime', 'list_price',
       'deal_price', 'seller_rank', 'avg_cust_review', 'product_specs',
       'bullets_in_description', 'num_answered_questions',
       'expedited_shipping', 'lowest_other_used_price', 'other_sellers',
       'amazon_choice', 'list_date'],
      dtype='object')

In [130]:
# Realized that I need reset index because the index restarts with each concatenated dataframe
all_product_listings.reset_index(drop=True, inplace=True)

In [131]:
all_product_listings

,asin,item_description,num_cust_reviews,prime,list_price,deal_price,seller_rank,avg_cust_review,product_specs,bullets_in_description,num_answered_questions,expedited_shipping,lowest_other_used_price,other_sellers,amazon_choice,list_date
0,B076P7S1VC,"Menton Ezil ""Enchanted Love"" Swarovski Necklac...",16,Prime,74.990,59.99,"160,578 in Clothing, Shoes & Jewelry (See Top ...",4.5,"[Jewelry Maintenance, 1. Avoid any chemical co...",♥IDEAL GIFTS FOR MOM♥ The elegantly designed h...,3.0,"Want it Monday, April 23? Order within 6 hrs 2...",None,None,,"December 1, 2017"
1,B015NZERAA,Leveret Boys Girls 100% Cotton Hoodie (Size 2 ...,58,Prime,13.990,NaN,"28,641 in Clothing, Shoes & Jewelry (See Top 1...",4.2,Product Specs Box Used,100% Cotton\nMachine wash cold water\n100% Cot...,3.0,None,None,None,,"September 22, 2015"
2,B079QT17HQ,TeeHee (Naartjie) Kids Girls Cotton Basic Crew...,810,Prime,9.990,NaN,"9,697 in Clothing, Shoes & Jewelry (See Top 10...",4.5,[TeeHee (Naartjie) Kids Girls Cotton Basic Cre...,TeeHee (Naartjie) Kids Girls Cotton Basic Crew...,20.0,None,None,None,,"February 10, 2018"
3,B07BYQQZG5,ETERNAL CENTURY Men's Underwear Cotton Stretch...,214,Prime,11.290,NaN,"2,635 in Clothing, Shoes & Jewelry (See Top 10...",4.2,[Our company concentrated on the quality of pr...,"92% cotton 8% spandex/waistband: 90% Nylon,10%...",12.0,None,None,None,,"April 10, 2017"
4,B0749S1HVZ,B.I.L.Y BILY Women's Plus Sizes Available 3/4 ...,316,Prime,8.390,NaN,"14,727 in Clothing, Shoes & Jewelry (See Top 1...",4.3,Product Specs Box Used,95% RAYON 5% SPANDEX\nPull On closure\nStyle N...,12.0,None,None,None,,"July 27, 2017"
5,B076R5DBP7,Riviera Sun Casual Short Sleeve Maxi Dress Wit...,16,Prime,21.240,NaN,"4,976 in Clothing, Shoes & Jewelry (See Top 10...",3.4,"[COMPLEMENT THE SUN WITH A WHOLE LOT OF STYLE,...",FEEL BEAUTIFULLY CONFIDENT: With a beautiful f...,3.0,None,None,None,,"October 24, 2017"
6,B07C5M1NFS,CYZ Men's 3-PK Cotton Stretch Hip Briefs for M...,20,Prime,12.490,NaN,"10,787 in Clothing, Shoes & Jewelry (See Top 1...",4.8,Product Specs Box Used,"CYZ cotton stretch hip brief for men 3 packs, ...",3.0,None,None,None,,"March 15, 2017"
7,B01MXIRQQL,Vionic Kona Women's Orthotic Athletic Shoe,424,Prime,76.225,NaN,"8,827 in Clothing, Shoes & Jewelry (See Top 10...",4.3,[Vionic Kona Women's Orthotic Athletic Shoe],Synthetic\nImportado\nRubber sole\nVionic foot...,43.0,None,None,None,,"November 10, 2016"
8,B01IS7JK4S,A.F.Y Women's Kimono Dolman Stretchy Sexy Tops...,227,Prime,13.865,NaN,"5,469 in Clothing, Shoes & Jewelry (See Top 10...",4.2,[ALL FOR YOU Women's Kimono Dolman Stretchy Se...,95% RAYON 5% SPANDEX\nMade in USA\nPull On clo...,11.0,None,None,None,,"July 20, 2016"
9,None,"Dorras Money Belt, Travel Wallet Passport Hold...",23,Prime,10.990,6.12,"108,595 in Sports & Outdoors (See Top 100 in S...",4.3,"[Dorras Money Belt, Travel Wallet Passport Hol...",✅Using radio frequency identification Rfid blo...,NaN,"Get it tomorrow, April 22. Order within 3 hrs ...",None,None,,None
10,B0768YBD91,Fine PU Leather Womens Designer Flip Belt in D...,10,Prime,12.990,NaN,"14,735 in Clothing, Shoes & Jewelry (See Top 1...",3.2,[Looking To Take Your Formal Outfit Or Casual ...,A HIGH-END WOMEN’S LEATHER BELT will complemen...,NaN,None,None,None,,"October 8, 2017"
11,B00RZ407FW,Tom's Ware Women Sophisticated Slim Fit Short ...,126,Prime,12.740,NaN,"2,931 in Clothing, Shoes & Jewelry (See Top 10...",3.6,[Embossing can take the simplest dress and mak...,"95% Polyester 5% Spandex\nImported, Designed a...",9.0,None,None,None,,"January 8, 2015"
12,B075K6XZ7D,Casual Garb Hoodies for Men Fitted Lightweight...,157,Prime,24.990,NaN,"3,115 in Clothing, Shoes & Jewelry (See Top 10...",4.1,[Thank you for choosing Casual Garb Adult Flee...,"55% Cotton, 45% Polyester\nMachine Wash Cold W...",13.0,None,None,None,,"September 11, 2017"
13,B01FL0VLT2,B.I.L.Y BILY Women's Open Front Lightweight Je...,299,Prime,15.865,NaN,"3,014 in Clothing, Shoes & Jewelry (See Top 10...",4.5,Product Specs Box Used,REGULAR: [95% Rayon 5% Spandex] & LIGHT SWEATE...,6.0,None,None,None,,"May 12, 2016"
14,B06XXLBJ1D,Tom's Ware Womens Stylish Zip Up Cap Sleeve Bo...,37,Prime,19.990,NaN,"66,425 in Clothing, Shoes & Jewelry (See Top 1...",3.9,[Outfitted with the features of your favorite ...,"FABRIC: 95% Poly 5% Spandex\nImported, Designe...",NaN,None,None,None,,"March 29, 2017"
15,B07BPSG9DM,Vivilli Women's Summer Sleeveless Ombre Floral...,2,Prime,27.490,NaN,"106,832 in Clothing, Shoes & Jewelry (See Top ...",3.5,[Vivilli Women's Summer Sleeveless Ombre Flora...,"Knit Fabric: 100% Polyester\nMachine Wash,do n...",NaN,None,None,None,,"March 25, 2018"
16,B076VKBN4K,"J.Rosée Necklace, 925 Sterling Silver 3A Cubic...",8,Prime,27.870,15.99,"71,687 in Clothing, Shoes & Jewelry (See Top 1...",4.1,"[❦The origin of J.Rosée, , - Short for Jewelry...",♕ DESIGN CONCEPT ♕ This design is unique in be...,4.0,"Want it Monday, April 23? Order within 6 hrs 3...",None,None,,"October 26, 2017"
17,B07C5ZRBFW,Idingding Womens Hot Sale Galaxy Star Printed ...,"1,570",Prime,11.990,NaN,"2,966 in Clothing, Shoes & Jewelry (See Top 10...",4.1,[High waist leggings feature a soft jersey lin...,"Material: 82% Polyester, 18% LYCRA Lining: 85%...",68.0,None,None,None,,"June 24, 2015"
18,B01MZ1DJM2,Tom's Ware Women Stylish Pleated Waist Scoop N...,20,Prime,17.990,NaN,"62,221 in Clothing, Shoes & Jewelry (See Top 1...",3.5,Product Specs Box Used,"Materials: 95% Poly 5% Spandex\nImported, Desi...",NaN,None,None,None,,"December 19, 2016"
19,B079GS9253,SojoS Clout Goggles Cat Eye Sunglasses Vintage...,37,Prime,9.970,8.47,"6,500 in Clothing, Shoes & Jewelry (See Top 10...",4.2,Product Specs Box Used,Plastic frame\nPlastic lens\nNon-polarized\nLe...,3.0,,None,[],,"December 20, 2017"
20,B01N6NT5B0,Vogue Forefront Women's Satin Plain Short Kimo...,69,Prime,10.490,NaN,"2,516 in Clothing, Shoes & Jewelry (See Top 10...",4.0,"[Women's Satin Plain Short Kimono Robe, , Feat...",Fabric: 100% Polyester\nAbout Sizing: Please s...,NaN,None,None,None,,"January 5, 2017"
21,B077Q8KGXG,roswear Women's Casual V Neck Cuffed Long Slee...,25,Prime,12.990,NaN,"10,151 in Clothing, Shoes & Jewelry (See Top 1...",3.2,"[Size Chart, , S-bust: 39.3"", M-bust:41.3"", L-...","100% Polyester\nSoft and lightweight material,...",3.0,None,None,None,,"November 23, 2017"
22,B01I65EIV2,Brilla Woman Bracelet Valentines Day Gifts for...,64,Prime,23.990,19.19,"61,516 in Clothing, Shoes & Jewelry (See Top 1...",4.1,Product Specs Box Used,"Designed in France, the Brilla women jewelry i...",6.0,"Want it Monday, April 23? Order within 6 hrs 3...",None,None,,"July 9, 2016"
23,None,The Mechanics Practice Hardware ebook Tools 25,None,Prime,32.990,17.28,None,NaN,"[It makes a great gift for all ages, you will ...",,NaN,"Want it Monday, April 23? Order within 4 hrs 3...",None,None,,None
24,B078X6Y98G,Yellow & White Gold Plated 925 Sterling Silver...,76,Prime,28.990,NaN,"91,833 in Clothing, Shoes & Jewelry (See Top 1...",4.4,Product Specs Box Used,• “YOU ARE MY PRINCESS” LOVE STATEMENT: Show o...,10.0,None,None,None,,"January 10, 2018"
25,B01IHH695W,FEISEDY Cat Eye Fashion Metal Frame Mirrored F...,"1,612",Prime,9.980,8.48,"5,712 in Clothing, Shoes & Jewelry (See Top 10...",4.3,Product Specs Box Used,metal frame\nComposite lens\nnon-polarized\nLe...,29.0,"Get it tomorrow, April 22. Order within 3 hrs ...",None,None,,"July 4, 2016"
26,B07C33CYMG,ALEADER Men's Mesh Slip on Water Shoes,"1,354",Prime,24.990,NaN,"1,258 in Clothing, Shoes & Jewelry (See Top 10...",4.3,Product Specs Box Used,fabric\nRubber sole\nBreathable and durable ai...,74.0,None,None,None,,"January 21, 2015"
27,B075STJ3HG,YiLiQi Women's 3/4 Sleeve A-Line Casual Dresse...,46,Prime,14.440,NaN,"69,209 in Clothing, Shoes & Jewelry (See Top 1...",4.0,Product Specs Box Used,Imported\nMachine Wash; Imported\nMaterial:95%...,NaN,None,None,None,,"September 20, 2017"
28,B01LZFT4L6,At The Buzzer Men's Pajama Shorts/Sleepwear/PJS,247,Prime,11.090,NaN,"7,241 in Clothing, Shoes & Jewelry (See Top 10...",4.1,"[COMFORTABLY LOUNGE THROUGH THE WARMEST DAYS, ...",DESIGNED FOR COMFORT: Even on the warmest of n...,13.0,None,None,None,,"September 12, 2016"
29,B074QKNRXS,Avoir Aime Vintage Inspired Classic Chiffon Sh...,24,Prime,24.990,NaN,"418,180 in Clothing, Shoes & Jewelry (See Top ...",4.0,[Avoir Aime Vintage Inspired Classic Chiffon S...,100% chiffon\nImported\nFit and flare design\n...,NaN,None,None,None,,"August 10, 2017"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,B079Q4HRQD,Somi Basics Women's Ethical Sustainable Black ...,None,Prime,19.600,None,None,NaN,[SOMI was created with two goals in mind: to c...,"Manufactured ethically in San Francisco, CA\nS...",NaN,None,None,None,,"February 9, 2018"
144,B07BLNJMJP,NIKE 747213-009 Men's Hypervenom II (FG) Outdo...,2,Prime,199.000,None,"317,033 in Clothing, Shoes & Jewelry (See Top ...",5.0,[DEADLY AGILITY Engineered for the attacking g...,leather-and-mesh,NaN,None,None,None,,"September 21, 2016"
145,B07C5W96LP,"Akademiks Mens Knit Sneakers – Fashionable, Ca...",None,Prime,34.990,None,"280,839 in Clothing, Shoes & Jewelry (See Top ...",NaN,[Akademiks Mens Sneakers Provide a Modern and ...,Rubber\nMODERNIZED SNEAKER: Akademiks men's sn...,NaN,None,None,None,,"February 1, 2018"
146,B0784R21L2,LumberUnion Women's Lux Pullover Sweatshirt- C...,None,Prime,42.000,None,"746,971 in Clothing, Shoes & Jewelry (See Top ...",NaN,Product Specs Box Used,"Durable Fabric: Eco-Fleece 50% Polyester, 46% ...",NaN,None,None,None,,"November 27, 2017"
147,B079Q4FL5W,Somi Basics Women's Ethical Sustainable Black ...,None,Prime,28.800,None,None,NaN,[SOMI was created with two goals in mind: to c...,"Manufactured ethically in San Francisco, CA\nS...",NaN,None,None,None,,"February 9, 2018"
148,B076TJ2TV3,1/5 CT Milgrain Diamond Wedding Band 14K White...,4,Prime,143.990,None,"183,113 in Clothing, Shoes & Jewelry (See Top ...",3.6,Product Specs Box Used,30 Day Easy Returns. Jewelry Gift Box Included...,NaN,None,None,None,,"January 1, 2011"
149,B074CNFXXK,Alegria Women's Joleen Loafers Shoes,74,Prime,110.415,None,"71,091 in Clothing, Shoes & Jewelry (See Top 1...",4.4,[Start your day off right in the Alegria Jolee...,Leather\nMade in USA or Imported\nRubber sole\...,NaN,None,None,None,,"August 2, 2016"
150,B015AGK5F8,Victoria's Secret Everyday Perfect Bikini Pant...,4,Prime,15.490,None,"1,003,934 in Clothing, Shoes & Jewelry (See To...",5.0,[Victoria's Secret always means Very Sexy. Get...,Victoria's Secret\nEveryday Perfect Bikini\nPanty,NaN,None,None,None,,"September 12, 2015"
151,B079Q7GDMV,Somi Basics Women's Ethical Sustainable Black ...,None,Prime,37.200,None,None,NaN,[SOMI was created with two goals in mind: to c...,"Manufactured ethically in San Francisco, CA\nS...",NaN,None,None,None,,"February 9, 2018"
152,B07B438JXV,Mashed Clothing Grandpa's Little Monster - Dad...,None,Prime,19.990,16.99,None,NaN,[Mashed Clothing is based in the United States...,Item is 100% cotton. Approximate sizing: Newbo...,NaN,None,None,None,,"February 27, 2018"
153,B07BSHF8VH,"Moonshot Production 1"" Belt with Silver Hardwa...",None,Prime,17.990,NaN,None,NaN,Product Specs Box Used,Leather\nExact\nSolid Brass Hardware\nMade in ...,NaN,None,None,None,,"January 29, 2018"
154,B07BSGN25V,"Moonshot Production 1.5"" Belt with Silver Hard...",None,Prime,24.990,NaN,None,NaN,Product Specs Box Used,Leather\nExact\nSolid Brass Hardware\nMade in ...,NaN,None,None,None,,"January 29, 2018"
155,B07BLNQFBW,Mashed Clothing I Love (Red Heart) My Awesome ...,None,Prime,19.990,16.99,"1,031,545 in Clothing, Shoes & Jewelry (See To...",NaN,[Mashed Clothing is based in the United States...,Item is 100% cotton. Approximate sizing: Newbo...,NaN,None,None,None,,"March 20, 2018"
156,B077G7FKDF,Finejewelers 10k Yellow Gold 8x6mm Oval Center...,3,Prime,179.990,NaN,"373,354 in Clothing, Shoes & Jewelry (See Top ...",5.0,[The beautiful 10kt Yellow Gold Oval Created S...,Finejewelers is a reputable American Family ow...,NaN,None,None,None,,"April 12, 2018"
157,B074PBK63W,3/4 CT Diamond Channel Prong Wedding Engagemen...,None,Prime,479.990,NaN,"1,305,618 in Clothing, Shoes & Jewelry (See To...",NaN,Product Specs Box Used,30 Day Easy Returns. Jewelry Gift Box Included...,NaN,None,None,None,,"January 1, 2011"
158,B074P98X8R,3/4 CT Diamond Halo 4-Prong Wedding Engagement...,None,Prime,499.990,NaN,None,NaN,Product Specs Box Used,30 Day Easy Returns. Jewelry Gift Box Included...,NaN,None,None,None,,"January 1, 2011"
159,B00HS9LE1K,0.50 Carat (ctw) 14k Yellow Gold Round Diamond...,3,Prime,430.745,NaN,"5,746,357 in Clothing, Shoes & Jewelry (See To...",2.9,[This lovely diamond Ring features 0.50 ct whi...,Other ring sizes may be shipped sooner. Most r...,NaN,None,None,None,,"January 1, 2011"
160,B077P4FRQS,0.14 Carat (ctw) 14K Gold Round Diamond Ladies...,None,Prime,197.260,NaN,None,NaN,[This lovely wedding band feature 0.14 ct whit...,Other ring sizes may be shipped sooner. Most r...,NaN,None,None,None,,"April 27, 2017"
161,B01M5FGORP,Keds Women's Chillax A-Line Jute Espadrilles F...,78,Prime,51.980,NaN,"3,325 in Clothing, Shoes & Jewelry (See Top 10...",4.0,[Feel good in the new espadrille inspired Chil...,Synthetic\nImported\nRubber sole\nDurable rubb...,4.0,None,None,None,,"January 31, 2017"
162,B01HIO4OAW,Globalwin Women's KadiMaya16YY25 22Boots,681,Prime,27.990,NaN,"6,164 in Clothing, Shoes & Jewelry (See Top 10...",4.2,[This classy bootie from KadiMaya is perfect w...,synthetic leather\nsynthetic leather\nShaft: 1...,68.0,None,None,None,,"June 24, 2016"
163,B06ZXSFF85,TeeHee (Naartjie) Kids Girls Cotton Crew Basic...,208,Prime,9.990,NaN,"20,322 in Clothing, Shoes & Jewelry (See Top 1...",4.5,[TeeHee (Naartjie) Kids Girls Cotton Crew Basi...,TeeHee (Naartjie) Kids Girls Cotton Crew Basic...,10.0,None,None,None,,"April 13, 2017"
164,B074CKDGD9,Rainbow Daze Fun Printed Waterproof Rain Boots...,64,Prime,29.990,NaN,"23,949 in Clothing, Shoes & Jewelry (See Top 1...",4.2,Product Specs Box Used,Rubber\nRAINY DAYS ARE PLAY DAYS: There’s an o...,12.0,None,None,None,,"July 28, 2017"
165,B074CKDGD9,Rainbow Daze Fun Printed Waterproof Rain Boots...,64,Prime,29.990,NaN,"23,949 in Clothing, Shoes & Jewelry (See Top 1...",4.2,Product Specs Box Used,Rubber\nRAINY DAYS ARE PLAY DAYS: There’s an o...,12.0,None,None,None,,"July 28, 2017"
166,B079QLCKCS,Formal Shirts Fitted Mens Solid Color Dress Sh...,8,Prime,23.870,NaN,"7,473 in Clothing, Shoes & Jewelry (See Top 10...",4.4,[Looking for a men’s dress shirt that doesn’t ...,100% Luxe Microfiber® polyester\nImported\nFor...,NaN,None,None,None,,"February 9, 2018"
167,B079QLCKCS,Formal Shirts Fitted Mens Solid Color Dress Sh...,8,Prime,23.870,NaN,"7,473 in Clothing, Shoes & Jewelry (See Top 10...",4.4,[Looking for a men’s dress shirt that doesn’t ...,100% Luxe Microfiber® polyester\nImported\nFor...,NaN,None,None,None,,"February 9, 2018"
168,B01DMZXOFC,Keds Women's Taylor Swift Lazer Lights Fashion...,23,Prime,43.470,NaN,"228,417 in Clothing, Shoes & Jewelry (See Top ...",4.3,[Taylor swift inspired sneakers by keds. each ...,Textile\nImported\nRubber sole\nDurable rubber...,NaN,None,None,None,,"September 23, 2016"
169,B079QLCKCS,Formal Shirts Fitted Mens Solid Color Dress Sh...,8,Prime,23.870,NaN,"7,473 in Clothing, Shoes & Jewelry (See Top 10...",4.4,[Looking for a men’s dress shirt that doesn’t ...,100% Luxe Microfiber® polyester\nImported\nFor...,NaN,None,None,None,,"February 9, 2018"
170,B07BN8JSWH,Snookiz Microwaveable Heated Slippers Booties ...,None,Prime,21.500,NaN,"194,421 in Clothing, Shoes & Jewelry (See Top ...",NaN,[Snookiz Heated Inserts are made with Lavatech...,Snookiz™ - The only slippers you will ever nee...,NaN,None,None,None,,"March 22, 2018"
171,B07C2RXW73,Timberland CA17CD43332 Men's Pants Squam Lake ...,1,Prime,24.490,NaN,"102,499 in Clothing, Shoes & Jewelry (See Top ...",5.0,[The easiest way to prove you can clean up nic...,100% organic cotton twill\nStraight fit has a ...,NaN,None,None,None,,"September 3, 2016"
172,B07BQKZXVM,Panmanni Women's Underwear Boxer Sexy Lingerie...,1,Prime,11.890,NaN,"95,240 in Clothing, Shoes & Jewelry (See Top 1...",2.0,"[Designed for maximum softness, this collectio...",Note: Product is European sized. Recommend one...,NaN,None,None,None,,"March 26, 2018"

In [132]:
all_product_listings.info()
# There are many rows with null values, which I already noticed while scraping.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 16 columns):
asin                       168 non-null object
item_description           173 non-null object
num_cust_reviews           131 non-null object
prime                      173 non-null object
list_price                 173 non-null float64
deal_price                 13 non-null object
seller_rank                158 non-null object
avg_cust_review            131 non-null float64
product_specs              173 non-null object
bullets_in_description     173 non-null object
num_answered_questions     68 non-null float64
expedited_shipping         14 non-null object
lowest_other_used_price    0 non-null object
other_sellers              4 non-null object
amazon_choice              173 non-null object
list_date                  168 non-null object
dtypes: float64(3), object(13)
memory usage: 21.7+ KB

In [133]:
all_product_listings.tail()

,asin,item_description,num_cust_reviews,prime,list_price,deal_price,seller_rank,avg_cust_review,product_specs,bullets_in_description,num_answered_questions,expedited_shipping,lowest_other_used_price,other_sellers,amazon_choice,list_date
168,B01DMZXOFC,Keds Women's Taylor Swift Lazer Lights Fashion...,23,Prime,43.47,NaN,"228,417 in Clothing, Shoes & Jewelry (See Top ...",4.3,[Taylor swift inspired sneakers by keds. each ...,Textile\nImported\nRubber sole\nDurable rubber...,NaN,None,None,None,,"September 23, 2016"
169,B079QLCKCS,Formal Shirts Fitted Mens Solid Color Dress Sh...,8,Prime,23.87,NaN,"7,473 in Clothing, Shoes & Jewelry (See Top 10...",4.4,[Looking for a men’s dress shirt that doesn’t ...,100% Luxe Microfiber® polyester\nImported\nFor...,NaN,None,None,None,,"February 9, 2018"
170,B07BN8JSWH,Snookiz Microwaveable Heated Slippers Booties ...,None,Prime,21.50,NaN,"194,421 in Clothing, Shoes & Jewelry (See Top ...",NaN,[Snookiz Heated Inserts are made with Lavatech...,Snookiz™ - The only slippers you will ever nee...,NaN,None,None,None,,"March 22, 2018"
171,B07C2RXW73,Timberland CA17CD43332 Men's Pants Squam Lake ...,1,Prime,24.49,NaN,"102,499 in Clothing, Shoes & Jewelry (See Top ...",5.0,[The easiest way to prove you can clean up nic...,100% organic cotton twill\nStraight fit has a ...,NaN,None,None,None,,"September 3, 2016"
172,B07BQKZXVM,Panmanni Women's Underwear Boxer Sexy Lingerie...,1,Prime,11.89,NaN,"95,240 in Clothing, Shoes & Jewelry (See Top 1...",2.0,"[Designed for maximum softness, this collectio...",Note: Product is European sized. Recommend one...,NaN,None,None,None,,"March 26, 2018"

In [134]:
all_product_listings.head()

,asin,item_description,num_cust_reviews,prime,list_price,deal_price,seller_rank,avg_cust_review,product_specs,bullets_in_description,num_answered_questions,expedited_shipping,lowest_other_used_price,other_sellers,amazon_choice,list_date
0,B076P7S1VC,"Menton Ezil ""Enchanted Love"" Swarovski Necklac...",16,Prime,74.99,59.99,"160,578 in Clothing, Shoes & Jewelry (See Top ...",4.5,"[Jewelry Maintenance, 1. Avoid any chemical co...",♥IDEAL GIFTS FOR MOM♥ The elegantly designed h...,3.0,"Want it Monday, April 23? Order within 6 hrs 2...",None,None,,"December 1, 2017"
1,B015NZERAA,Leveret Boys Girls 100% Cotton Hoodie (Size 2 ...,58,Prime,13.99,NaN,"28,641 in Clothing, Shoes & Jewelry (See Top 1...",4.2,Product Specs Box Used,100% Cotton\nMachine wash cold water\n100% Cot...,3.0,None,None,None,,"September 22, 2015"
2,B079QT17HQ,TeeHee (Naartjie) Kids Girls Cotton Basic Crew...,810,Prime,9.99,NaN,"9,697 in Clothing, Shoes & Jewelry (See Top 10...",4.5,[TeeHee (Naartjie) Kids Girls Cotton Basic Cre...,TeeHee (Naartjie) Kids Girls Cotton Basic Crew...,20.0,None,None,None,,"February 10, 2018"
3,B07BYQQZG5,ETERNAL CENTURY Men's Underwear Cotton Stretch...,214,Prime,11.29,NaN,"2,635 in Clothing, Shoes & Jewelry (See Top 10...",4.2,[Our company concentrated on the quality of pr...,"92% cotton 8% spandex/waistband: 90% Nylon,10%...",12.0,None,None,None,,"April 10, 2017"
4,B0749S1HVZ,B.I.L.Y BILY Women's Plus Sizes Available 3/4 ...,316,Prime,8.39,NaN,"14,727 in Clothing, Shoes & Jewelry (See Top 1...",4.3,Product Specs Box Used,95% RAYON 5% SPANDEX\nPull On closure\nStyle N...,12.0,None,None,None,,"July 27, 2017"

# Update the dataframe to adjust for features needed

The features wanted for this project are:
1. Time on market
2. Number of bullets in product specifications 
3. Usage of a product specs image box
4. Original price
5. Number of bullets in product description
6. Prime versus not-prime
7. Amazon's choice versus not Amazon's choice
8. Number of reviews
9. Average customer rating (out of 5 stars)
10. Whether there is at least one other seller of that product listed (Originally Mean price of other sellers' prices when data was scraped)
11. Number of answered customer questions
12. Expedited shipping available
13. Clothing category seller rating (continuous)
14. Seller rating available (binary)

## Add /update columns
|Original Column|New Column|Details|
|:------:|:------:|:------:|
|list_price, deal_price|discount_percent|Not all product pages included the percentage discount, so I need to compute that|
|list_date|time_on_market|need to take the date items were scraped minus list date to get duration on market| 
|other_sellers|other_sellers|Make changes in place. Yes/no whether another seller is listed for that product. I originally scraped for the purpose of getting the mean price of other sellers, but upon investigation of the results, it seems that there are only two rows with seller prices, so taking the actual price to compare wouldn't be a valuable statistic. Therefore, I'm taking a binary 0 and 1|
|expedited_shipping|expedited_shipping_binary|if there is expedited, = 1, otherwise, =0|
|bullets_in_description|num_descrip_bullets|Need a count rather than text|
|product_specs|num_specs_bullets|Find the num of bullets|
|product_specs|product_specs_image|if value = 'Product Specs Box Used'|
|seller_rank|seller_rank_binary|I tried only obtaining fashion category products, but some sellers of those products may not be listed under the same category. Therefore, for one of my features, I'll make it a binary of whether or not there was a seller rank listed.|
|seller_rank|seller_rank_clothing|Since I also want to take seller rank as a continuous feature type, I'll make all the non-clothing ranks and not available rank rows zeros|
|prime|prime_binary|When I scraped I made the output "prime" or "not prime". I now want to change those to 0s and 1s for analysis|

#### Add the discount_percent column

In [135]:
# Make sure list price and deal price are floats
type(all_product_listings['list_price'][0])

numpy.float64

In [136]:
type(all_product_listings['deal_price'][0])

float

In [137]:
# Make sure there are no na values 
all_product_listings['list_price'].isna().value_counts()

False    173
Name: list_price, dtype: int64

In [138]:
# Looks like there were only 13 items on sale
all_product_listings['deal_price'].isna().value_counts()

True     160
False     13
Name: deal_price, dtype: int64

In [139]:
all_product_listings['deal_price'] = all_product_listings['deal_price'].fillna(value= int(0))

In [140]:
all_product_listings['deal_price']

0      59.99
1       0.00
2       0.00
3       0.00
4       0.00
5       0.00
6       0.00
7       0.00
8       0.00
9       6.12
10      0.00
11      0.00
12      0.00
13      0.00
14      0.00
15      0.00
16     15.99
17      0.00
18      0.00
19      8.47
20      0.00
21      0.00
22     19.19
23     17.28
24      0.00
25      8.48
26      0.00
27      0.00
28      0.00
29      0.00
       ...
143     0.00
144     0.00
145     0.00
146     0.00
147     0.00
148     0.00
149     0.00
150     0.00
151     0.00
152    16.99
153     0.00
154     0.00
155    16.99
156     0.00
157     0.00
158     0.00
159     0.00
160     0.00
161     0.00
162     0.00
163     0.00
164     0.00
165     0.00
166     0.00
167     0.00
168     0.00
169     0.00
170     0.00
171     0.00
172     0.00
Name: deal_price, Length: 173, dtype: float64

In [141]:
# Test that my representation of percentage discount math works
deal_price_test = 10
list_price_test = 20
tuple_test = (deal_price_test, list_price_test)
(tuple_test[1] - tuple_test[0])/(tuple_test[1])

0.5

In [142]:
def get_discount_percent(deal_prices, list_prices):
    all_discount_percent = []
    zipped = zip(deal_prices, list_prices)
    zipped_list = list(zipped)
    try:
        for tuple in zipped_list:
            discount = (tuple[1] - tuple[0])/tuple[1]
            all_discount_percent.append(discount)
    except:
        discount = int(0)
        all_discount_percent.append(discount)
    return all_discount_percent

In [143]:
product_discounts = get_discount_percent(all_product_listings['deal_price'], all_product_listings['list_price'])

In [144]:
product_discounts

[0.20002667022269627,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.44313011828935395,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.42626480086114105,
 1.0,
 1.0,
 0.15045135406218654,
 1.0,
 1.0,
 0.20008336807002908,
 0.4762049105789633,
 1.0,
 0.1503006012024048,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.3501750875437718,
 1.0,
 1.0,
 1.0,
 0.20130850528434835,
 1.0,
 1.0,
 1.0,
 1.0,
 0.20002667022269627,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 -0.010125632852053238,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.1500750375187594,
 1.0,
 1.0,
 0.1500750375187594,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0]

In [145]:
all_product_listings['product_discounts'] = product_discounts

In [146]:
all_product_listings['product_discounts']

0      0.200027
1      1.000000
2      1.000000
3      1.000000
4      1.000000
5      1.000000
6      1.000000
7      1.000000
8      1.000000
9      0.443130
10     1.000000
11     1.000000
12     1.000000
13     1.000000
14     1.000000
15     1.000000
16     0.426265
17     1.000000
18     1.000000
19     0.150451
20     1.000000
21     1.000000
22     0.200083
23     0.476205
24     1.000000
25     0.150301
26     1.000000
27     1.000000
28     1.000000
29     1.000000
         ...
143    1.000000
144    1.000000
145    1.000000
146    1.000000
147    1.000000
148    1.000000
149    1.000000
150    1.000000
151    1.000000
152    0.150075
153    1.000000
154    1.000000
155    0.150075
156    1.000000
157    1.000000
158    1.000000
159    1.000000
160    1.000000
161    1.000000
162    1.000000
163    1.000000
164    1.000000
165    1.000000
166    1.000000
167    1.000000
168    1.000000
169    1.000000
170    1.000000
171    1.000000
172    1.000000
Name: product_discounts, Length: 173, dtype: float64

In [147]:
all_product_listings['product_discounts'] = all_product_listings['product_discounts'].replace(to_replace= 1, value = 0)

#### Add the time_on_market column

In [148]:
# convert the list_date to a datetime format first
#all_product_listings['list_date_formatted] = 
all_product_listings['list_date_formatted'] = pd.to_datetime(all_product_listings['list_date'], format="%B %d, %Y")

In [149]:
all_product_listings['list_date_formatted']

0     2017-12-01
1     2015-09-22
2     2018-02-10
3     2017-04-10
4     2017-07-27
5     2017-10-24
6     2017-03-15
7     2016-11-10
8     2016-07-20
9            NaT
10    2017-10-08
11    2015-01-08
12    2017-09-11
13    2016-05-12
14    2017-03-29
15    2018-03-25
16    2017-10-26
17    2015-06-24
18    2016-12-19
19    2017-12-20
20    2017-01-05
21    2017-11-23
22    2016-07-09
23           NaT
24    2018-01-10
25    2016-07-04
26    2015-01-21
27    2017-09-20
28    2016-09-12
29    2017-08-10
         ...
143   2018-02-09
144   2016-09-21
145   2018-02-01
146   2017-11-27
147   2018-02-09
148   2011-01-01
149   2016-08-02
150   2015-09-12
151   2018-02-09
152   2018-02-27
153   2018-01-29
154   2018-01-29
155   2018-03-20
156   2018-04-12
157   2011-01-01
158   2011-01-01
159   2011-01-01
160   2017-04-27
161   2017-01-31
162   2016-06-24
163   2017-04-13
164   2017-07-28
165   2017-07-28
166   2018-02-09
167   2018-02-09
168   2016-09-23
169   2018-02-09
170   2018-03-22
171   2016-09-03
172   2018-03-26
Name: list_date_formatted, Length: 173, dtype: datetime64[ns]

In [150]:
date_scraped = pd.to_datetime('2018-04-21')
type(date_scraped)

pandas._libs.tslib.Timestamp

In [151]:
list_date = pd.to_datetime('2018-03-26')

In [152]:
date_scraped - list_date

Timedelta('26 days 00:00:00')

In [153]:
# def time_on_market(all_product_listings, date_scraped):
#     all_product_listings.columns
#     for list_date in all_product_listings['list_date_formatted']:
#         all_product_listings['time_on_market'].append(date_scraped - list_date)
#     return all_product_listings['time_on_market']

all_product_listings['time_on_market'] = (date_scraped - all_product_listings['list_date_formatted']).dt.days

In [154]:
all_product_listings['time_on_market']

0       141.0
1       942.0
2        70.0
3       376.0
4       268.0
5       179.0
6       402.0
7       527.0
8       640.0
9         NaN
10      195.0
11     1199.0
12      222.0
13      709.0
14      388.0
15       27.0
16      177.0
17     1032.0
18      488.0
19      122.0
20      471.0
21      149.0
22      651.0
23        NaN
24      101.0
25      656.0
26     1186.0
27      213.0
28      586.0
29      254.0
        ...
143      71.0
144     577.0
145      79.0
146     145.0
147      71.0
148    2667.0
149     627.0
150     952.0
151      71.0
152      53.0
153      82.0
154      82.0
155      32.0
156       9.0
157    2667.0
158    2667.0
159    2667.0
160     359.0
161     445.0
162     666.0
163     373.0
164     267.0
165     267.0
166      71.0
167      71.0
168     575.0
169      71.0
170      30.0
171     595.0
172      26.0
Name: time_on_market, Length: 173, dtype: float64

#### Update the other_sellers column

In [155]:
# all_product_listings.loc[all_product_listings['other_sellers'] != None]
'''This set of data probably isn't a useful for comparing prices. I should convert this feature to be a binary, 
meaning whether or not there are other sellers'''
# It looks like there are two empty string values, 2 actual 'other seller' prices, and the rest are Nulls.
all_product_listings['other_sellers'].sort_values(ascending = True)

19          []
31          []
137    [12.49]
61     [15.99]
0         None
1         None
2         None
3         None
4         None
5         None
6         None
7         None
8         None
9         None
10        None
11        None
12        None
13        None
14        None
15        None
16        None
17        None
18        None
20        None
21        None
22        None
23        None
24        None
25        None
26        None
        ...
143       None
144       None
145       None
146       None
147       None
148       None
149       None
150       None
151       None
152       None
153       None
154       None
155       None
156       None
157       None
158       None
159       None
160       None
161       None
162       None
163       None
164       None
165       None
166       None
167       None
168       None
169       None
170       None
171       None
172       None
Name: other_sellers, Length: 173, dtype: object

In [156]:
all_product_listings['other_sellers_boolean'] = all_product_listings['other_sellers']

In [157]:
all_product_listings['other_sellers_boolean'].sort_values(ascending=True)

19          []
31          []
137    [12.49]
61     [15.99]
0         None
1         None
2         None
3         None
4         None
5         None
6         None
7         None
8         None
9         None
10        None
11        None
12        None
13        None
14        None
15        None
16        None
17        None
18        None
20        None
21        None
22        None
23        None
24        None
25        None
26        None
        ...
143       None
144       None
145       None
146       None
147       None
148       None
149       None
150       None
151       None
152       None
153       None
154       None
155       None
156       None
157       None
158       None
159       None
160       None
161       None
162       None
163       None
164       None
165       None
166       None
167       None
168       None
169       None
170       None
171       None
172       None
Name: other_sellers_boolean, Length: 173, dtype: object

In [158]:
all_product_listings['other_sellers_boolean'] = all_product_listings['other_sellers'].astype(bool).astype(int)  #.sort_values(ascending=False)

In [159]:
all_product_listings['other_sellers_boolean'].sort_values(ascending=False)

61     1
137    1
172    0
53     0
60     0
59     0
58     0
57     0
56     0
55     0
54     0
52     0
42     0
51     0
50     0
49     0
48     0
47     0
46     0
45     0
44     0
62     0
63     0
64     0
75     0
83     0
82     0
81     0
80     0
79     0
      ..
95     0
94     0
93     0
92     0
91     0
90     0
89     0
88     0
106    0
107    0
108    0
109    0
126    0
125    0
124    0
123    0
122    0
121    0
120    0
119    0
118    0
117    0
116    0
115    0
114    0
113    0
112    0
111    0
110    0
0      0
Name: other_sellers_boolean, Length: 173, dtype: int64

#### Add the expedited_shipping_ binary column

In [160]:
all_product_listings['expedited_shipping'].sort_values(ascending=True)

19
137    Get it as soon as April 24 - 27 when you choos...
61     Get it tomorrow, April 22. Order within 22 hrs...
25     Get it tomorrow, April 22. Order within 3 hrs ...
9      Get it tomorrow, April 22. Order within 3 hrs ...
23     Want it Monday, April 23? Order within 4 hrs 3...
97     Want it Monday, April 23? Order within 5 hrs 5...
0      Want it Monday, April 23? Order within 6 hrs 2...
44     Want it Monday, April 23? Order within 6 hrs 3...
31     Want it Monday, April 23? Order within 6 hrs 3...
16     Want it Monday, April 23? Order within 6 hrs 3...
22     Want it Monday, April 23? Order within 6 hrs 3...
39     Want it Monday, April 23? Order within 8 hrs 7...
35     Want it Tuesday, April 24? Choose Two-Day Ship...
1                                                   None
2                                                   None
3                                                   None
4                                                   None
5                                                   None
6                                                   None
7                                                   None
8                                                   None
10                                                  None
11                                                  None
12                                                  None
13                                                  None
14                                                  None
15                                                  None
17                                                  None
18                                                  None
                             ...
143                                                 None
144                                                 None
145                                                 None
146                                                 None
147                                                 None
148                                                 None
149                                                 None
150                                                 None
151                                                 None
152                                                 None
153                                                 None
154                                                 None
155                                                 None
156                                                 None
157                                                 None
158                                                 None
159                                                 None
160                                                 None
161                                                 None
162                                                 None
163                                                 None
164                                                 None
165                                                 None
166                                                 None
167                                                 None
168                                                 None
169                                                 None
170                                                 None
171                                                 None
172                                                 None
Name: expedited_shipping, Length: 173, dtype: object

In [161]:
all_product_listings['expedited_shipping_boolean'] = all_product_listings['expedited_shipping'].astype(bool).astype(int)

In [162]:
all_product_listings['expedited_shipping_boolean']

0      1
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      1
10     0
11     0
12     0
13     0
14     0
15     0
16     1
17     0
18     0
19     0
20     0
21     0
22     1
23     1
24     0
25     1
26     0
27     0
28     0
29     0
      ..
143    0
144    0
145    0
146    0
147    0
148    0
149    0
150    0
151    0
152    0
153    0
154    0
155    0
156    0
157    0
158    0
159    0
160    0
161    0
162    0
163    0
164    0
165    0
166    0
167    0
168    0
169    0
170    0
171    0
172    0
Name: expedited_shipping_boolean, Length: 173, dtype: int64

#### Add the num_descrip_bullets column

In [163]:
all_product_listings['bullets_in_description'][0]

'♥IDEAL GIFTS FOR MOM♥ The elegantly designed hard sided box makes a beautiful presentation. It is perfect for storing and presenting your beautiful bracelet\n♥Unique Design♥ A+ Stones all appear to be securely set. The white swarovski crystals are inlaid into the metal by hand, they will stay sturdy and never be fell off. It is a perfect match to evening gown, cocktail dress, wedding dress or blouse and jeans\n♥Materials♥ Made with Swarovski Crystals. Environmentally friendly material Zinc Alloy, Lead-Free & Nickle-Free, passed Swiss SGS Inspection Standard, no harm to health\n♥Specifications♥ Bracelet Length: 7 inches | Pendant Height: 1.18 inches, Pendant Width：0.78 inches，Chain Length: 17 inches+2 inches | Earrings Height: 0.82 inches, Earrings Width: 0.43 inches\n♥Lifetime Breakage Gurantee♥ Menton Ezil provides 100% satisfaction and money back guarantee.We promise to provide lifetime after sale service for all Menton Ezil products'

In [164]:
def num_bullets_in_description(all_product_listings):
    num_bullets_description = []
    for product in all_product_listings['bullets_in_description']:
        num_bullets_description.append(product.count("\n"))
    return num_bullets_description
    
#all_product_listings['bullets_in_description'].apply(axis = 0, splitlines())

In [165]:
num_bullets_description = num_bullets_in_description(all_product_listings)

In [166]:
all_product_listings['num_bullets_description'] = num_bullets_description

In [167]:
all_product_listings['num_bullets_description'].sort_values(ascending=True)

23     0
144    0
63     0
133    0
152    2
49     2
138    2
93     2
150    2
155    2
126    3
142    3
101    3
50     3
110    3
116    3
120    3
99     3
143    3
94     3
156    3
65     3
7      3
171    3
168    3
161    3
96     4
117    4
80     4
113    4
      ..
4      6
75     6
167    6
169    6
166    6
3      6
26     6
1      6
45     6
29     6
40     6
124    6
108    6
115    6
8      7
74     7
14     7
149    7
18     7
19     7
25     7
136    7
33     7
36     7
37     7
111    7
92     7
89     7
11     7
38     7
Name: num_bullets_description, Length: 173, dtype: int64

#### Add the product_specs_image column

In [168]:
# This column is the binary yes/no whether a product specifications image was used in place of bullets

#all_product_listings['product_specs_image_boolean'] = all_product_listings['product_specs'].astype(bool).astype(int)

all_product_listings['product_specs_image_boolean'] = all_product_listings['product_specs'] == 'Product Specs Box Used'

In [169]:
all_product_listings['product_specs_image_boolean'] = all_product_listings['product_specs_image_boolean'].astype(int)

In [170]:
all_product_listings['product_specs_image_boolean']

0      0
1      1
2      0
3      0
4      1
5      0
6      1
7      0
8      0
9      0
10     0
11     0
12     0
13     1
14     0
15     0
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     1
27     1
28     0
29     0
      ..
143    0
144    0
145    0
146    1
147    0
148    1
149    0
150    0
151    0
152    0
153    1
154    1
155    0
156    0
157    1
158    1
159    0
160    0
161    0
162    0
163    0
164    1
165    1
166    0
167    0
168    0
169    0
170    0
171    0
172    0
Name: product_specs_image_boolean, Length: 173, dtype: int64

#### Add the num_specs_bullets column

In [171]:
# Obtain the length of one of the product_specs
len(all_product_listings['product_specs'][0])

11

In [172]:
# Validate that matches what you count manually
# It looks like there will be some with blank lines/bullets. Let's look at other examples to see if this is somewhat common.
all_product_listings['product_specs'][0]

['Jewelry Maintenance',
 '1. Avoid any chemical corrosive.',
 '2. Take it off before shower, swim or sport.',
 '3. Do not wear it when sleep.',
 '4. Prevent from strike or hard matter friction.',
 '5. Store in box or cool dry place.',
 '',
 'About us',
 'Menton Ezil headquarter is located in Hong Kong and the brand is concentrate on fashion bracelets and sunglasses designed by Italian which lead the fashion trend.We stand behind our product quality.',
 '100% Risk Free Purchase.',
 '15 Days Money Back Guarantee For All Menton Ezil Products.']

In [173]:
# This example also has blank lines/bullets. Check one more
all_product_listings['product_specs'][15]

["Vivilli Women's Summer Sleeveless Ombre Floral Printed Loose Casual T Shirts Dresses with Pockets",
 '',
 '',
 'Type: Sleeveless dresses for women',
 'Pattern Type: Fashion tie-dye design',
 'Neckline: Round Neck',
 'Dress Length: Above Knee',
 "Two handy side pockets you'll love",
 'Occasion:Casual/Beach/Party/Night Out/Street Wear',
 'Loose Style with a killer boots for a casual and girly look',
 'Please Choose your size based on measurment below(in inches):',
 'M:----Length--34.6" Shoulder-14.0" Chest--35.0" Hem--64.2"',
 'L:---Length--35.2" Shoulder--14.5" Chest--37.4" Hem--66.5"',
 'XL:--Length--35.8" Shoulder--15.0" Chest-39.8" Hem--68.9"',
 'XXL:--Length--36.4" Shoulder--15.5" Chest--42.1" Hem--71.3"',
 'Notes:',
 '1. The real color of the item may be slightly different from the pictures shown on website caused by many factors such as brightness of your monitor and light brightness.',
 '2. Please allow slight deviation for the measurement data. Thank you.']

In [174]:
# Looks like this product has a long paragraph of text for one bullet 
all_product_listings['product_specs'][52]

['Open sides, ankle strap and a peep-toe add to the immediate appeal of the Women\'s Ivy Hooded Peep-Toe from designer Christian Siriano. It features a fine faux suede upper with eye-catching side cut-outs topped with an adjustable ankle strap, soft jersey lining, padded footbed, peep-toe, 4" wrapped heel, and a sturdy outsole. Manmade materials.']

In [175]:
# all_product_listings['num_bullets_specs'] = num_bullets_in_specs(all_product_listings)

In [176]:
def obtain_product_specs_num_bullets(all_product_listings):
    num_specs_bullets = []
    for product in all_product_listings['product_specs']:
        if product == 'Product Specs Box Used':
            num_specs_bullets.append(int(0))
        else:
            num_specs_bullets.append(int(len(product)))
    return num_specs_bullets

In [177]:
all_product_listings['num_specs_bullets'] = obtain_product_specs_num_bullets(all_product_listings)

In [178]:
all_product_listings['num_specs_bullets'].sort_values(ascending=True)

137     0
148     0
69      0
146     0
37      0
84      0
39      0
41      0
42      0
43      0
82      0
45      0
78      0
75      0
53      0
133     0
55      0
56      0
57      0
58      0
74      0
129     0
62      0
63      0
127     0
66      0
67      0
68      0
114     0
31      0
       ..
115     3
131     8
9       9
125     9
145     9
3       9
21      9
32     10
166    11
169    11
167    11
0      11
44     11
10     14
108    17
64     17
5      17
15     18
14     18
11     19
33     20
28     20
20     21
34     25
36     25
38     25
97     26
29     31
73     33
16     34
Name: num_specs_bullets, Length: 173, dtype: int64

#### Add the seller_rank_binary column

In [179]:
#all_product_listings['seller_rank']

all_product_listings['seller_rank_boolean'] = all_product_listings['seller_rank'].astype(bool).astype(int)

In [180]:
all_product_listings['seller_rank_boolean']

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     0
24     1
25     1
26     1
27     1
28     1
29     1
      ..
143    0
144    1
145    1
146    1
147    0
148    1
149    1
150    1
151    0
152    0
153    0
154    0
155    1
156    1
157    1
158    0
159    1
160    0
161    1
162    1
163    1
164    1
165    1
166    1
167    1
168    1
169    1
170    1
171    1
172    1
Name: seller_rank_boolean, Length: 173, dtype: int64

#### Add seller_rank_clothing column

In [181]:
# Look into why there are negative finds of this string
count_clothing_category_string = all_product_listings['seller_rank'].str.find('in Clothing, Shoes & Jewelry (See Top 100 in Clothing, Shoes & Jewelry)')

In [182]:
# Convert all of the non- Clothing, Shoes & Jewelry category seller rankings to NaN

def obtain_clothing_category_only(all_product_listings):
    seller_rank_confirmed = []
    for ranking in all_product_listings['seller_rank']:
        if ranking == None:
            seller_rank_confirmed.append(None)
        elif ranking.find('in Clothing, Shoes & Jewelry (See Top 100 in Clothing, Shoes & Jewelry)') < 0:
            seller_rank_confirmed.append(None)
        else:
            seller_rank_confirmed.append(ranking)
    return seller_rank_confirmed

In [183]:
all_product_listings['seller_rank_confirmed_long'] = obtain_clothing_category_only(all_product_listings)

In [184]:
all_product_listings['seller_rank_confirmed_long']

0      160,578 in Clothing, Shoes & Jewelry (See Top ...
1      28,641 in Clothing, Shoes & Jewelry (See Top 1...
2      9,697 in Clothing, Shoes & Jewelry (See Top 10...
3      2,635 in Clothing, Shoes & Jewelry (See Top 10...
4      14,727 in Clothing, Shoes & Jewelry (See Top 1...
5      4,976 in Clothing, Shoes & Jewelry (See Top 10...
6      10,787 in Clothing, Shoes & Jewelry (See Top 1...
7      8,827 in Clothing, Shoes & Jewelry (See Top 10...
8      5,469 in Clothing, Shoes & Jewelry (See Top 10...
9                                                   None
10     14,735 in Clothing, Shoes & Jewelry (See Top 1...
11     2,931 in Clothing, Shoes & Jewelry (See Top 10...
12     3,115 in Clothing, Shoes & Jewelry (See Top 10...
13     3,014 in Clothing, Shoes & Jewelry (See Top 10...
14     66,425 in Clothing, Shoes & Jewelry (See Top 1...
15     106,832 in Clothing, Shoes & Jewelry (See Top ...
16     71,687 in Clothing, Shoes & Jewelry (See Top 1...
17     2,966 in Clothing, Shoes & Jewelry (See Top 10...
18     62,221 in Clothing, Shoes & Jewelry (See Top 1...
19     6,500 in Clothing, Shoes & Jewelry (See Top 10...
20     2,516 in Clothing, Shoes & Jewelry (See Top 10...
21     10,151 in Clothing, Shoes & Jewelry (See Top 1...
22     61,516 in Clothing, Shoes & Jewelry (See Top 1...
23                                                  None
24     91,833 in Clothing, Shoes & Jewelry (See Top 1...
25     5,712 in Clothing, Shoes & Jewelry (See Top 10...
26     1,258 in Clothing, Shoes & Jewelry (See Top 10...
27     69,209 in Clothing, Shoes & Jewelry (See Top 1...
28     7,241 in Clothing, Shoes & Jewelry (See Top 10...
29     418,180 in Clothing, Shoes & Jewelry (See Top ...
                             ...
143                                                 None
144    317,033 in Clothing, Shoes & Jewelry (See Top ...
145    280,839 in Clothing, Shoes & Jewelry (See Top ...
146    746,971 in Clothing, Shoes & Jewelry (See Top ...
147                                                 None
148    183,113 in Clothing, Shoes & Jewelry (See Top ...
149    71,091 in Clothing, Shoes & Jewelry (See Top 1...
150    1,003,934 in Clothing, Shoes & Jewelry (See To...
151                                                 None
152                                                 None
153                                                 None
154                                                 None
155    1,031,545 in Clothing, Shoes & Jewelry (See To...
156    373,354 in Clothing, Shoes & Jewelry (See Top ...
157    1,305,618 in Clothing, Shoes & Jewelry (See To...
158                                                 None
159    5,746,357 in Clothing, Shoes & Jewelry (See To...
160                                                 None
161    3,325 in Clothing, Shoes & Jewelry (See Top 10...
162    6,164 in Clothing, Shoes & Jewelry (See Top 10...
163    20,322 in Clothing, Shoes & Jewelry (See Top 1...
164    23,949 in Clothing, Shoes & Jewelry (See Top 1...
165    23,949 in Clothing, Shoes & Jewelry (See Top 1...
166    7,473 in Clothing, Shoes & Jewelry (See Top 10...
167    7,473 in Clothing, Shoes & Jewelry (See Top 10...
168    228,417 in Clothing, Shoes & Jewelry (See Top ...
169    7,473 in Clothing, Shoes & Jewelry (See Top 10...
170    194,421 in Clothing, Shoes & Jewelry (See Top ...
171    102,499 in Clothing, Shoes & Jewelry (See Top ...
172    95,240 in Clothing, Shoes & Jewelry (See Top 1...
Name: seller_rank_confirmed_long, Length: 173, dtype: object

In [185]:
all_product_listings['seller_rank_confirmed_long'].isna().count()

173

In [186]:
all_product_listings['seller_rank_confirmed_long'][0]

'160,578 in Clothing, Shoes & Jewelry (See Top 100 in Clothing, Shoes & Jewelry)'

In [187]:
all_product_listings['seller_rank_confirmed_long'][172]

'95,240 in Clothing, Shoes & Jewelry (See Top 100 in Clothing, Shoes & Jewelry)'

In [188]:
len(all_product_listings['seller_rank_confirmed_long'])

173

In [189]:
all_product_listings['seller_rank_confirmed_long'][0][:-len(' in Clothing, Shoes & Jewelry (See Top 100 in Clothing, Shoes & Jewelry)')]

'160,578'

In [190]:
def clean_clothing_seller_rank_string(all_product_listings):
    clothing_seller_rank = []
    for seller_rank_string in all_product_listings['seller_rank_confirmed_long']:
        if seller_rank_string == None:
            seller_rank = 0
            clothing_seller_rank.append(seller_rank)
        else:
            ending_string = ' in Clothing, Shoes & Jewelry (See Top 100 in Clothing, Shoes & Jewelry)'
            seller_rank = seller_rank_string[:-len(ending_string)]
            clothing_seller_rank.append(int(seller_rank.replace(',', '')))
    return clothing_seller_rank

In [191]:
clothing_seller_rank = clean_clothing_seller_rank_string(all_product_listings)
len(clothing_seller_rank)

173

In [192]:
clothing_seller_rank

[160578,
 28641,
 9697,
 2635,
 14727,
 4976,
 10787,
 8827,
 5469,
 0,
 14735,
 2931,
 3115,
 3014,
 66425,
 106832,
 71687,
 2966,
 62221,
 6500,
 2516,
 10151,
 61516,
 0,
 91833,
 5712,
 1258,
 69209,
 7241,
 418180,
 35613,
 47502,
 124841,
 9971,
 994564,
 0,
 223302,
 10992,
 113917,
 122469,
 10897,
 1450,
 2642,
 5148,
 160578,
 28641,
 9697,
 23635,
 8455,
 38504,
 11227,
 54410,
 10038,
 17722,
 69928,
 25450,
 134,
 33246,
 20518,
 72140,
 21645,
 0,
 29323,
 0,
 22122,
 3325,
 24929,
 112693,
 48591,
 46355,
 12888,
 22049,
 50878,
 20299,
 34248,
 9397,
 206322,
 61129,
 21013,
 90213,
 128615,
 263392,
 1499876,
 2828293,
 264232,
 59657,
 80582,
 116451,
 170497,
 1016420,
 165192,
 44418,
 33883,
 84377,
 47288,
 369863,
 18480,
 139039,
 82107,
 104595,
 325603,
 196107,
 310827,
 80857,
 116314,
 386768,
 435918,
 229377,
 123342,
 217638,
 370738,
 2059,
 230417,
 353344,
 124318,
 70533,
 142874,
 580578,
 177186,
 465670,
 338194,
 54368,
 74151,
 97090,
 490543,
 426141,
 367374,
 313039,
 0,
 579136,
 814346,
 185207,
 688074,
 93139,
 0,
 703774,
 36134,
 0,
 0,
 0,
 95240,
 915866,
 0,
 0,
 317033,
 280839,
 746971,
 0,
 183113,
 71091,
 1003934,
 0,
 0,
 0,
 0,
 1031545,
 373354,
 1305618,
 0,
 5746357,
 0,
 3325,
 6164,
 20322,
 23949,
 23949,
 7473,
 7473,
 228417,
 7473,
 194421,
 102499,
 95240]

In [193]:
all_product_listings['clothing_seller_rank'] = clean_clothing_seller_rank_string(all_product_listings)

In [194]:
all_product_listings['clothing_seller_rank']

0       160578
1        28641
2         9697
3         2635
4        14727
5         4976
6        10787
7         8827
8         5469
9            0
10       14735
11        2931
12        3115
13        3014
14       66425
15      106832
16       71687
17        2966
18       62221
19        6500
20        2516
21       10151
22       61516
23           0
24       91833
25        5712
26        1258
27       69209
28        7241
29      418180
        ...
143          0
144     317033
145     280839
146     746971
147          0
148     183113
149      71091
150    1003934
151          0
152          0
153          0
154          0
155    1031545
156     373354
157    1305618
158          0
159    5746357
160          0
161       3325
162       6164
163      20322
164      23949
165      23949
166       7473
167       7473
168     228417
169       7473
170     194421
171     102499
172      95240
Name: clothing_seller_rank, Length: 173, dtype: int64

#### Add the seller_rank_binary column

In [195]:
def get_seller_rank_binary(all_product_listings):
    seller_rank_binary_list = []
    for seller_rank in all_product_listings['clothing_seller_rank']:
        if seller_rank == 0:
            seller_rank_binary = 0
            seller_rank_binary_list.append(seller_rank_binary)
        else:
            seller_rank_binary = 1
            seller_rank_binary_list.append(seller_rank_binary)
    return seller_rank_binary_list

In [196]:
seller_rank_binary_list = get_seller_rank_binary(all_product_listings)

In [197]:
seller_rank_binary_list

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [198]:
all_product_listings['seller_rank_binary_list'] = seller_rank_binary_list

In [199]:
all_product_listings['seller_rank_binary_list']

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      0
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     0
24     1
25     1
26     1
27     1
28     1
29     1
      ..
143    0
144    1
145    1
146    1
147    0
148    1
149    1
150    1
151    0
152    0
153    0
154    0
155    1
156    1
157    1
158    0
159    1
160    0
161    1
162    1
163    1
164    1
165    1
166    1
167    1
168    1
169    1
170    1
171    1
172    1
Name: seller_rank_binary_list, Length: 173, dtype: int64

#### Add the prime_binary column

In [200]:
# It seems like all the scraped data were prime items. We should probably remove this as a feature, then. 
all_product_listings['prime_binary'] = all_product_listings['prime'].replace(to_replace='Prime', value=int(1))

In [201]:
all_product_listings['prime_binary']

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
143    1
144    1
145    1
146    1
147    1
148    1
149    1
150    1
151    1
152    1
153    1
154    1
155    1
156    1
157    1
158    1
159    1
160    1
161    1
162    1
163    1
164    1
165    1
166    1
167    1
168    1
169    1
170    1
171    1
172    1
Name: prime_binary, Length: 173, dtype: int64

#### Look at amazon_choice_binary column

In [202]:
# Since they're all blanks, we should just delete this column. It's worthless as a feature.
all_product_listings['amazon_choice']

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
      ..
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
Name: amazon_choice, Length: 173, dtype: object

# Clean all the NAs and convert data types for the feature columns

In [203]:
all_product_listings['num_cust_reviews'] = all_product_listings['num_cust_reviews'].fillna(value = int(0))

In [204]:
all_product_listings['avg_cust_review'] = all_product_listings['avg_cust_review'].fillna(value = int(0))

In [205]:
all_product_listings['num_answered_questions'] = all_product_listings['num_answered_questions'].fillna(value=int(0))

In [206]:
all_product_listings['lowest_other_used_price'] = all_product_listings['lowest_other_used_price'].fillna(value=int(0))

In [207]:
all_product_listings['num_cust_reviews'] = all_product_listings['num_cust_reviews'].str.replace(',', '')

In [208]:
all_product_listings['num_cust_reviews'] = pd.to_numeric(all_product_listings['num_cust_reviews'])

In [209]:
all_product_listings['num_cust_reviews'] = all_product_listings['num_cust_reviews'].fillna(int(0))

In [210]:
all_product_listings['num_cust_reviews']

0        16.0
1        58.0
2       810.0
3       214.0
4       316.0
5        16.0
6        20.0
7       424.0
8       227.0
9        23.0
10       10.0
11      126.0
12      157.0
13      299.0
14       37.0
15        2.0
16        8.0
17     1570.0
18       20.0
19       37.0
20       69.0
21       25.0
22       64.0
23        0.0
24       76.0
25     1612.0
26     1354.0
27       46.0
28      247.0
29       24.0
        ...
143       0.0
144       2.0
145       0.0
146       0.0
147       0.0
148       4.0
149      74.0
150       4.0
151       0.0
152       0.0
153       0.0
154       0.0
155       0.0
156       3.0
157       0.0
158       0.0
159       3.0
160       0.0
161      78.0
162     681.0
163     208.0
164      64.0
165      64.0
166       8.0
167       8.0
168      23.0
169       8.0
170       0.0
171       1.0
172       1.0
Name: num_cust_reviews, Length: 173, dtype: float64

In [211]:
all_product_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 29 columns):
asin                           168 non-null object
item_description               173 non-null object
num_cust_reviews               173 non-null float64
prime                          173 non-null object
list_price                     173 non-null float64
deal_price                     173 non-null float64
seller_rank                    158 non-null object
avg_cust_review                173 non-null float64
product_specs                  173 non-null object
bullets_in_description         173 non-null object
num_answered_questions         173 non-null float64
expedited_shipping             14 non-null object
lowest_other_used_price        173 non-null int64
other_sellers                  4 non-null object
amazon_choice                  173 non-null object
list_date                      168 non-null object
product_discounts              173 non-null float64
list_date_formatted            168 non-null datetime64[ns]
time_on_market                 168 non-null float64
other_sellers_boolean          173 non-null int64
expedited_shipping_boolean     173 non-null int64
num_bullets_description        173 non-null int64
product_specs_image_boolean    173 non-null int64
num_specs_bullets              173 non-null int64
seller_rank_boolean            173 non-null int64
seller_rank_confirmed_long     154 non-null object
clothing_seller_rank           173 non-null int64
seller_rank_binary_list        173 non-null int64
prime_binary                   173 non-null int64
dtypes: datetime64[ns](1), float64(7), int64(10), object(11)
memory usage: 39.3+ KB

# Make a copy of the dataframe to use for analysis

### Remove the duplicate product listings
These are very possible because Amazon dynamically fills subsequent product listing pages. Therefore, in the process of scraping, I could've scraped duplicates. Amazon uses 'asin' as a products' unique identifer.

In [212]:
all_product_listings['asin'].nunique()

159

In [213]:
all_product_listings = all_product_listings.drop_duplicates(subset=['asin'])

In [214]:
all_product_listings_backup = all_product_listings

In [215]:
all_product_listings_backup.columns

Index(['asin', 'item_description', 'num_cust_reviews', 'prime', 'list_price',
       'deal_price', 'seller_rank', 'avg_cust_review', 'product_specs',
       'bullets_in_description', 'num_answered_questions',
       'expedited_shipping', 'lowest_other_used_price', 'other_sellers',
       'amazon_choice', 'list_date', 'product_discounts',
       'list_date_formatted', 'time_on_market', 'other_sellers_boolean',
       'expedited_shipping_boolean', 'num_bullets_description',
       'product_specs_image_boolean', 'num_specs_bullets',
       'seller_rank_boolean', 'seller_rank_confirmed_long',
       'clothing_seller_rank', 'seller_rank_binary_list', 'prime_binary'],
      dtype='object')

### Remove extreme outliers

In [216]:
# It seems like there are a few items that have an outrageously high list price. Let's look at them
all_product_listings['list_price'].sort_values(ascending=False)

158    499.990
157    479.990
159    430.745
126    329.990
136    243.185
144    199.000
160    197.260
156    179.990
120    170.990
148    143.990
105    120.745
111    120.495
92     116.995
38     114.495
149    110.415
97     106.660
36     103.595
93      89.960
85      87.480
101     82.490
94      80.970
7       76.225
0       74.990
108     59.990
65      51.980
91      49.390
168     43.470
146     42.000
127     39.990
99      39.970
        ...
6       12.490
87      11.990
104     11.990
17      11.990
106     11.890
117     11.890
119     11.890
112     11.890
132     11.890
130     11.890
109     11.890
128     11.890
141     11.890
135     11.890
140     11.890
76      11.890
138     11.700
3       11.290
28      11.090
9       10.990
40      10.990
60      10.490
20      10.490
163      9.990
70       9.990
2        9.990
25       9.980
19       9.970
134      8.500
4        8.390
Name: list_price, Length: 160, dtype: float64

In [217]:
# Looks like one of them is an engagement ring
# Let's check the others
all_product_listings.loc[157]

asin                                                                  B074PBK63W
item_description               3/4 CT Diamond Channel Prong Wedding Engagemen...
num_cust_reviews                                                               0
prime                                                                      Prime
list_price                                                                479.99
deal_price                                                                     0
seller_rank                    1,305,618 in Clothing, Shoes & Jewelry (See To...
avg_cust_review                                                                0
product_specs                                             Product Specs Box Used
bullets_in_description         30 Day Easy Returns. Jewelry Gift Box Included...
num_answered_questions                                                         0
expedited_shipping                                                          None
lowest_other_used_price                                                        0
other_sellers                                                               None
amazon_choice
list_date                                                        January 1, 2011
product_discounts                                                              0
list_date_formatted                                          2011-01-01 00:00:00
time_on_market                                                              2667
other_sellers_boolean                                                          0
expedited_shipping_boolean                                                     0
num_bullets_description                                                        4
product_specs_image_boolean                                                    1
num_specs_bullets                                                              0
seller_rank_boolean                                                            1
seller_rank_confirmed_long     1,305,618 in Clothing, Shoes & Jewelry (See To...
clothing_seller_rank                                                     1305618
seller_rank_binary_list                                                        1
prime_binary                                                                   1
Name: 157, dtype: object

In [218]:
# This one as well
all_product_listings.loc[158]

asin                                                                  B074P98X8R
item_description               3/4 CT Diamond Halo 4-Prong Wedding Engagement...
num_cust_reviews                                                               0
prime                                                                      Prime
list_price                                                                499.99
deal_price                                                                     0
seller_rank                                                                 None
avg_cust_review                                                                0
product_specs                                             Product Specs Box Used
bullets_in_description         30 Day Easy Returns. Jewelry Gift Box Included...
num_answered_questions                                                         0
expedited_shipping                                                          None
lowest_other_used_price                                                        0
other_sellers                                                               None
amazon_choice
list_date                                                        January 1, 2011
product_discounts                                                              0
list_date_formatted                                          2011-01-01 00:00:00
time_on_market                                                              2667
other_sellers_boolean                                                          0
expedited_shipping_boolean                                                     0
num_bullets_description                                                        4
product_specs_image_boolean                                                    1
num_specs_bullets                                                              0
seller_rank_boolean                                                            0
seller_rank_confirmed_long                                                  None
clothing_seller_rank                                                           0
seller_rank_binary_list                                                        0
prime_binary                                                                   1
Name: 158, dtype: object

In [219]:
all_product_listings.loc[159]

asin                                                                  B00HS9LE1K
item_description               0.50 Carat (ctw) 14k Yellow Gold Round Diamond...
num_cust_reviews                                                               3
prime                                                                      Prime
list_price                                                               430.745
deal_price                                                                     0
seller_rank                    5,746,357 in Clothing, Shoes & Jewelry (See To...
avg_cust_review                                                              2.9
product_specs                  [This lovely diamond Ring features 0.50 ct whi...
bullets_in_description         Other ring sizes may be shipped sooner. Most r...
num_answered_questions                                                         0
expedited_shipping                                                          None
lowest_other_used_price                                                        0
other_sellers                                                               None
amazon_choice
list_date                                                        January 1, 2011
product_discounts                                                              0
list_date_formatted                                          2011-01-01 00:00:00
time_on_market                                                              2667
other_sellers_boolean                                                          0
expedited_shipping_boolean                                                     0
num_bullets_description                                                        4
product_specs_image_boolean                                                    0
num_specs_bullets                                                              1
seller_rank_boolean                                                            1
seller_rank_confirmed_long     5,746,357 in Clothing, Shoes & Jewelry (See To...
clothing_seller_rank                                                     5746357
seller_rank_binary_list                                                        1
prime_binary                                                                   1
Name: 159, dtype: object

In [220]:
# Drop those three outlier prices
all_product_listings = all_product_listings.drop([157, 158, 159])

## Make the copy for modeling purposes

In [221]:
all_product_listings_for_modeling = all_product_listings

In [222]:
all_product_listings_for_modeling.columns

Index(['asin', 'item_description', 'num_cust_reviews', 'prime', 'list_price',
       'deal_price', 'seller_rank', 'avg_cust_review', 'product_specs',
       'bullets_in_description', 'num_answered_questions',
       'expedited_shipping', 'lowest_other_used_price', 'other_sellers',
       'amazon_choice', 'list_date', 'product_discounts',
       'list_date_formatted', 'time_on_market', 'other_sellers_boolean',
       'expedited_shipping_boolean', 'num_bullets_description',
       'product_specs_image_boolean', 'num_specs_bullets',
       'seller_rank_boolean', 'seller_rank_confirmed_long',
       'clothing_seller_rank', 'seller_rank_binary_list', 'prime_binary'],
      dtype='object')

# Update the analysis dataframe by keeping only target and feature columns

In [223]:
all_product_listings_for_modeling = all_product_listings_for_modeling.drop(columns=['asin','item_description','seller_rank', 'product_specs','bullets_in_description', 'expedited_shipping', 'other_sellers', 'seller_rank_confirmed_long', 'prime', 'deal_price', 'amazon_choice', 'list_date', 'list_date_formatted'])

In [224]:
all_product_listings_for_modeling.columns

Index(['num_cust_reviews', 'list_price', 'avg_cust_review',
       'num_answered_questions', 'lowest_other_used_price',
       'product_discounts', 'time_on_market', 'other_sellers_boolean',
       'expedited_shipping_boolean', 'num_bullets_description',
       'product_specs_image_boolean', 'num_specs_bullets',
       'seller_rank_boolean', 'clothing_seller_rank',
       'seller_rank_binary_list', 'prime_binary'],
      dtype='object')

In [225]:
# It looks like I still need to replace the nulls with 0s for many of my features
# The other columns that won't be used as features can retain their null values, as I won't compute on them
all_product_listings_for_modeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 0 to 171
Data columns (total 16 columns):
num_cust_reviews               157 non-null float64
list_price                     157 non-null float64
avg_cust_review                157 non-null float64
num_answered_questions         157 non-null float64
lowest_other_used_price        157 non-null int64
product_discounts              157 non-null float64
time_on_market                 156 non-null float64
other_sellers_boolean          157 non-null int64
expedited_shipping_boolean     157 non-null int64
num_bullets_description        157 non-null int64
product_specs_image_boolean    157 non-null int64
num_specs_bullets              157 non-null int64
seller_rank_boolean            157 non-null int64
clothing_seller_rank           157 non-null int64
seller_rank_binary_list        157 non-null int64
prime_binary                   157 non-null int64
dtypes: float64(6), int64(10)
memory usage: 20.9 KB

In [226]:
all_product_listings_for_modeling = all_product_listings_for_modeling.dropna()

In [227]:
all_product_listings_for_modeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 171
Data columns (total 16 columns):
num_cust_reviews               156 non-null float64
list_price                     156 non-null float64
avg_cust_review                156 non-null float64
num_answered_questions         156 non-null float64
lowest_other_used_price        156 non-null int64
product_discounts              156 non-null float64
time_on_market                 156 non-null float64
other_sellers_boolean          156 non-null int64
expedited_shipping_boolean     156 non-null int64
num_bullets_description        156 non-null int64
product_specs_image_boolean    156 non-null int64
num_specs_bullets              156 non-null int64
seller_rank_boolean            156 non-null int64
clothing_seller_rank           156 non-null int64
seller_rank_binary_list        156 non-null int64
prime_binary                   156 non-null int64
dtypes: float64(6), int64(10)
memory usage: 20.7 KB

# Make a log version of the price for possible easier modeling

In [228]:
def get_log_list_prices(all_product_listings_for_modeling):
    log_list_prices = []
    for price in all_product_listings_for_modeling['list_price']:
        log_list_prices.append(math.log(price))
    return log_list_prices

In [229]:
all_product_listings_for_modeling['log_price'] = get_log_list_prices(all_product_listings_for_modeling)

In [230]:
all_product_listings_for_modeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 171
Data columns (total 17 columns):
num_cust_reviews               156 non-null float64
list_price                     156 non-null float64
avg_cust_review                156 non-null float64
num_answered_questions         156 non-null float64
lowest_other_used_price        156 non-null int64
product_discounts              156 non-null float64
time_on_market                 156 non-null float64
other_sellers_boolean          156 non-null int64
expedited_shipping_boolean     156 non-null int64
num_bullets_description        156 non-null int64
product_specs_image_boolean    156 non-null int64
num_specs_bullets              156 non-null int64
seller_rank_boolean            156 non-null int64
clothing_seller_rank           156 non-null int64
seller_rank_binary_list        156 non-null int64
prime_binary                   156 non-null int64
log_price                      156 non-null float64
dtypes: float64(7), int64(10)
memory usage: 21.9 KB

# Pickle the new dataframe for use in EDA

In [231]:
with open('all_product_listings_for_modeling.pkl', 'wb') as picklefile:
        pickle.dump(all_product_listings_for_modeling, picklefile)